<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.shop.dao.ShopOrderDao">
  	<insert id="insertObject">
  		insert into shop_order values
		(#{orderId},#{status},#{payAmount},#{prodId})
  	</insert>
   	<select id="findObjectByOrderId" resultType="com.cy.shop.entity.ShopOrder">
   		select * from shop_order where order_id=#{orderId}
   	</select>
</mapper>
