@charset "utf-8";
.path{
	position:relative;
	left:0;
	top:0;
}
.laxin_tips{
	position:absolute;
	right:0;
	top:0;
	z-index:8;
}
.laxin_tips>img{
	cursor: pointer;
	width:128px;
}
.laxin_hover{
	display:none;
	position: absolute;
	right:0;
	top:96px;
	background:#fff;
	border:1px solid #d8d8d8;
    width:330px;
    padding:14px;
    box-sizing: border-box;
    box-shadow: 0 0 4px #d8d8d8;
    z-index:260;
}
.laxin_hover:before,.laxin_hover:after{
    position: absolute;
    content: '';
    left: 264px;
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
}
.laxin_hover:before{
	border-color: transparent transparent #d8d8d8;
    top: -12px;
    margin-left:-13px;
    border-width: 0 10px 12px;
}
.laxin_hover:after{
	border-color: transparent transparent #fff;
    top: -10px;
    margin-left:-11px;
    border-width: 0 8px 10px;
}    
.laxin_hover .title{
	display:block;
	text-align: center;
	font-size:22px;
	color:#71452f;
	line-height: 48px;
}
.laxin_rules{
	background:#fff0e9;
	padding:6px 8px;
	color:#71452f;
	font-size:14px;
	line-height: 26px;
}
.laxin_erwm{
	width:102px;
	display: block;
	margin:14px auto 0;
}
.laxin_go{
	display: block;
	text-align: center;
	line-height: 40px;
	font-size: 18px;
	line-height: 40px;
}
